name: Lint Check

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
  checks: write

jobs:
  git-leaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install gitleaks
        run: |
            git clone https://github.com/gitleaks/gitleaks.git
            cd gitleaks
            make build
            cp gitleaks /usr/local/bin/gitleaks
            cd ..
            rm -rf gitleaks
      - name: Run gitleaks
        run: |
            /usr/local/bin/gitleaks detect --report-format json

  secret-rip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: |
            cargo install ripsecrets
            ripsecrets

  dependency-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8.15.0
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run dependency audit
        run: pnpm audit --audit-level moderate
